.App {
  text-align: center;
  font-family: 'Arial', sans-serif; /* Modern, clean font */
  color: #333; /* Dark gray for text for better readability */
}

.App-header {
  background-color: #282c34;
  background-image: linear-gradient(to right, #282c34, #4b6cb7); /* Gradient background */
  padding: 40px 20px; /* Increased padding for a larger header */
  color: white;
  border-bottom: 3px solid #4b6cb7; /* Adds a distinct border under the header */
}

main {
  margin: 20px auto;
  max-width: 600px; /* Limits the width of the form for better readability on large screens */
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Adds subtle shadow for depth */
  border-radius: 8px; /* Rounded corners for the main content area */
  background-color: #fff; /* Light background for the form area */
}

input[type="text"],
input[type="hexcode"],

input[type="name"],


input[type="email"],
select,
textarea {
  width: 90%; /* Responsive width */
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px; /* Rounded corners for input fields */
  border: 1px solid #ccc; /* Light gray border */
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.1); /* Inner shadow for depth */
}

button {
  background-color: #4CAF50; /* A more vibrant button color */
  color: white;
  padding: 10px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 5px; /* Rounded corners for buttons */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for button hover effect */
}

button:hover {
  background-color: #45a049; /* Darker shade on hover for button */
}

/* Additional styling for form validation feedback, if you use it */
.is-invalid {
  border-color: #dc3545; /* Red border for invalid inputs */
}

.valid-feedback,
.invalid-feedback {
  color: #dc3545;
  margin-top: 10px;
  font-size: 0.875em;
}


